
useGraphSearch=false

#5:3:1:1
loopPassRules=LOOPDRAW_PASSSCORING,LOOPDRAW_PASSSCORING,LOOPDRAW_PASSSCORING,LOOPDRAW_PASSSCORING,LOOPDRAW_PASSSCORING,LOOPDRAW_PASSCONTINUE,LOOPDRAW_PASSCONTINUE,LOOPDRAW_PASSCONTINUE,LOOPLOSE_PASSSCORING,LOOPSCORING_PASSSCORING

komiMean=0.0
komiStdev=0.2
komiBigStdevProb=0.05
komiBigStdev=1.5

randomInitialStonesProb=0.2
banLocProb=0.1
banLocAreaPropAvg=0.2
banLocAreaPropMax=0.5


validationProp=0.00

numNNServerThreadsPerModel = 2
gpuToUseThread0 = 0
gpuToUseThread1 = 1

switchNetsMidGame=false

numGameThreads = 4000
nnMaxBatchSize = 1024

maxVisits = 200

reduceVisits = true
reducedVisitsMin = 40

allowResignation=true
allowResignationProb=0.8
resignThreshold=-0.98
resignConsecTurns = 6
judgeDrawProb=0.8
judgeDrawThreshold=0.98
judgeDrawConsecTurns = 6

cheapSearchProb = 0.0
cheapSearchTargetWeight = 0.0
cheapSearchVisits =40


dataBoardLen = 7
bSizes = 7
bSizeRelProbs = 1

# Logs------------------------------------------------------------------------------------

logSearchInfo = false
logMoves = false
logGamesEvery = 500
logToStdout = true

# Data writing-----------------------------------------------------------------------------------

maxDataQueueSize = 100000
maxRowsPerTrainFile = 50000
maxRowsPerValFile = 5000
firstFileRandMinProp = 0.15


# Fancy game selfplay settings--------------------------------------------------------------------
initGamesWithPolicy = true
policyInitAreaTemperature=2
policyInitAvgMoveNum = 15
compensateAfterPolicyInitProb = 0.0
forkSidePositionProb = 0.040

subtreeValueBiasFactor=0.0


reduceVisitsThreshold = 0.90
reduceVisitsThresholdLookback = 3
reducedVisitsWeight = 0.1

normalAsymmetricPlayoutProb = 0.1
maxAsymmetricRatio = 4.0


policySurpriseDataWeight = 0.5
valueSurpriseDataWeight = 0.1


# Match-----------------------------------------------------------------------------------

maxMovesPerGame = 30000

# Rules------------------------------------------------------------------------------------


allowRectangleProb = 0.00


noResultRandRadius=1.0

# Search limits-----------------------------------------------------------------------------------

numSearchThreads = 1

# GPU Settings-------------------------------------------------------------------------------

nnCacheSizePowerOfTwo = 26
nnMutexPoolSizePowerOfTwo = 21
nnRandomize = true


# Root move selection and biases------------------------------------------------------------------------------

chosenMoveTemperatureEarly = 0.75
chosenMoveTemperatureHalflife = 6
chosenMoveTemperature = 0.15
chosenMoveSubtract = 0
chosenMovePrune = 1

rootNoiseEnabled = true
rootDirichletNoiseTotalConcentration = 10.83
rootDirichletNoiseWeight = 0.25

rootDesiredPerChildVisitsCoeff = 2
rootNumSymmetriesToSample = 4

useLcbForSelection = true
lcbStdevs = 5.0
minVisitPropForLCB = 0.15

# Internal params------------------------------------------------------------------------------



noResultUtilityReduceEarly=0.5
noResultUtilityReduceNearDraw=0.1

cpuctExploration = 0.7
cpuctExplorationLog = -0.2
cpuctExplorationBase = 10

rootEndingBonusPoints = 0.0
rootPruneUselessMoves = false

rootPolicyTemperatureEarly = 1.8
rootPolicyTemperature = 1.3 
nnPolicyTemperature = 1.2

#fpuReductionMax = 0.2
#rootFpuReductionMax = 0.0
#valueWeightExponent = 0.5

#numVirtualLossesPerThread = 1
