
basicRule = RENJU
VCNRule = NOVC
firstPassWin = false


numSearchThreads = 1

nnCacheSizePowerOfTwo = 16 #2^16

numNNServerThreadsPerModel = 1 
gpuToUseThread0 = 0 

noResultUtilityForWhite =0.3



#-------------------------------------------------------


cpuctExploration = 1.0 
cpuctExplorationLog = 0.4
cpuctExplorationBase=500

nnPolicyTemperature=1.1 
subtreeValueBiasFactor=0.0 


analysisPVLen=5

logFile = kata.log   # Each run of KataGo will log to a separate file in this dir

logAllGTPCommunication = true
logSearchInfo = true
logToStderr = false
ogsChatToStderr = true



allowResignation = false
resignThreshold = -0.90
resignConsecTurns = 3

#dynamicPlayoutDoublingAdvantageCapPerOppLead = 0

playoutDoublingAdvantage = 0.0 
playoutDoublingAdvantagePla = WHITE

# Number of seconds to buffer for lag for GTP time controls - will move a bit faster assuming there is this much lag per move.
lagBuffer = 0.2

ponderingEnabled = false
maxTimePondering = 120

# Play a little faster if super-winning, for friendliness
searchFactorWhenWinning = 0.40
searchFactorWhenWinningThreshold = 0.99

# nnMaxBatchSize = <integer> #Ĭ��


# Size of mutex pool for nnCache is (2 ** this).
nnMutexPoolSizePowerOfTwo = 2



